<div>
  <button class="gray_button" mat-button (click)="resetTodos()">
    <mat-icon>refresh</mat-icon>
    Reset Todos to the initial values
  </button>
  <app-todos-list></app-todos-list>
</div>
