<table *ngIf="todos && todos.length > 0">
  <thead>
  <tr class="header">
    <th scope="col"></th>
    <th scope="col">Title</th>
    <th scope="col">Detail</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="data" (click)="changeState(todo)" *ngFor="let todo of todos">
    <td>
      <mat-checkbox (click)="$event.preventDefault()" [(ngModel)]="todo.state"></mat-checkbox>
    </td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.detail }}</td>
    <td><button mat-button class="blue_button" title="Edit todo" (click)="$event.stopPropagation(); goToForm(todo.id)">
      <mat-icon>edit</mat-icon>
    </button></td>
    <td><button mat-button class="red_button" title="Delete todo" (click)="$event.stopPropagation(); delete(todo.id)">
      <mat-icon>delete_forever</mat-icon>
    </button></td>
  </tr>
  </tbody>
</table>
<div class="add_button">
  <button mat-button title="Add todo" (click)="goToNewForm()">
    <mat-icon class="green_button">add_circle</mat-icon>
  </button>
</div>
