table {
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding : 10px 20px;
}

.data:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

tr.header {
  background-color: lightgray;
}

.add_button {
  margin-top: 5px;
}

.blue_button {
  color: darkblue;
}

.green_button {
  color: green;
}

.red_button {
  color: red;
}
