.buttons {
  margin-top: 15px;
  margin-left: 5px;
}

.todoForm {
  margin: 15px;
}

.btn {
  margin: 5px;
}

.form-row {
  margin: 5px;
}

.is-invalid {
  background-color: #ffcccc;
}

.green_button {
  color: green;
}

.red_button {
  color: red;
}
