<div *ngIf="todoForm" class="todoForm">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <label>Title*</label>
    </div>
    <div class="form-row">
        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors">Title is required</div>
        </div>
    </div>
    <div class="form-row">
        <label>Details</label>
    </div>
    <div class="form-row">
      <textarea rows="5" cols="21" type="text" formControlName="detail" class="form-control" ></textarea>
    </div>
    <div class="text-center buttons">
      <button mat-button title="Validate" class="green_button">
        <mat-icon>check_circle</mat-icon>
      </button>
      <button mat-button title="Cancel" class="red_button" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </form>
</div>
